body{
  margin: 20px;
  background-color: #F3C5C5;
}

input{
  margin: 5px;
}

.list {
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 50%;
  margin: 16px;
  float: left;
  position: relative;

}

.list h1{
    font-size: 1.1em;
    margin-bottom: 6px;
}

.inputField{
    width:70%;
}

.cancelButton{
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
  border-radius: 100%;

}
